
<div class='flex-container'>    
    
    <md-list class='flex-item' style="height:100%;overflow-y:auto">
        <md-list-item *ngFor="let empl of employees"  (click)="onSelect(empl)">
            <h3 md-line> {{empl.Name}} </h3>
            <span  md-line> ID : {{empl.ID}}</span>
            <span  md-line> Department :  {{empl.Department}} </span>            
        </md-list-item>      
    </md-list>
    <div *ngIf="selectedEmployee" class='flex-item'>
        <employee-edit [employee]="selectedEmployee"></employee-edit>
    </div>
</div>