<div>    
    
    <md-list>
        <md-list-item *ngFor="let empl of employees"  (click)="onSelect(empl)">
            <h3 md-line> {{empl.Name}} </h3>
            <span  md-line> ID : {{empl.ID}}</span>
            <span  md-line> Department :  {{empl.Department}} </span>            
        </md-list-item>
    </md-list>
    <div *ngIf="selectedEmployee">
        <label>name: </label>
        <input [value]="selectedEmployee.Name"
               (input)="selectedEmployee.Name=$event.target.value"   placeholder="Name"/> <!-- shorter version  [(ngModel)]="selectedEmployee.Name"  -->
    </div>
</div>